<template>
  <div id="app">
    <h1>Friendly Foods</h1>
    <FoodGroup v-for="item in foodGroups" v-bind:food-group="item" :key="item.id"></FoodGroup>
  </div>
</template>

<script>
import FoodGroup from './FoodGroup.vue';

export default {
  name: 'app',
  components: {FoodGroup},
  data () {
    return {
      foodGroups: [
       { id: 1, name: 'Fruit', suggested: 5 },
       { id: 2, name: 'Vegetables', suggested: 3 },
       { id: 3, name: 'Grains', suggested: 4 },
       { id: 4, name: 'Proteins', suggested: 2 },
       { id: 5, name: 'Dairy', suggested: 6 }
     ]
   }
  }
}
</script>

<style lang="scss">
  @import url("https://fonts.googleapis.com/css?family=Roboto:900");

  body {
    font-family: 'Roboto';
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
  }

  h1 {
    text-align: center;
  }
</style>
