<template>
    <div class="goal" v-bind:class="activeClass">
      {{foodGroup.name}} {{consumed}}/{{foodGroup.suggested}}
      <button class="btn" v-on:click="decrementConsumed" v-if="consumed">-</button>
      <button class="btn" v-on:click="incrementConsumed">+</button>
  </div>
</template>

<script>
export default {
  name: 'FoodGroup',
  data () {
    return {
      consumed: this.getConsumeCount(this.foodGroup.id)
    }
  },
  computed: {
     activeClass: function () {
       return (this.consumed >= this.foodGroup.suggested) ? 'goal--met' : '';
     }
  },
  methods: {
    decrementConsumed: function(event){
      this.consumed -= 1;
    },
    incrementConsumed: function(event){
      this.consumed += 1;
    },
    getConsumeCount: function(id){
      let consumed = 0;
      if (localStorage.getItem(id)){
        let obj = JSON.parse(localStorage.getItem(id));
        if (this.isCurrent(obj.time)){
          consumed = parseInt(obj.consumed);
        } else {
          this.setConsume(id, 0);
        }
      }
      return consumed;
    },
    isCurrent: function(time){
      let thisMorning = new Date(new Date().setHours(0,0,0,0)).getTime();
      return time >= thisMorning;
    },
    setConsume: function(id, count){
      let consumedObject = { consumed: count, time: (new Date).getTime() };
      localStorage.setItem(id, JSON.stringify(consumedObject))
    }
  },
  props: ['foodGroup'],
  watch: {
    consumed: function () {
      this.setConsume(this.foodGroup.id, this.consumed);
    }
  }
}
</script>

<style lang="scss">
.goal {
  background: #fbeaea;
  padding: 10px;
  &--met {
    background: #d4ffd4;
  }
}
.btn {
  background: #fff;
  border: 0px;
  outline: 0;
  &:hover{
    background: #000;
    color: #fff;
    cursor: pointer;
  }
}
</style>
